body {
margin: 0;
padding: 0;
border: 0;
}

.caixa {
max-width: 1280px;
height: 100%;
margin: 0 auto; 
display: inline;
color: orangered;
}

.logo {
    font-weight: bold;
    color: aliceblue;
    font-family: montserrat;
    margin-left: 50px;
    padding-top: 20px;
    font-size: 20px;
    float: left;
}

ul {
  color: rgb(255, 250, 250);
  list-style: none;
  margin-right: 50px;
}

ul li {
  font-family: montserrat;
  color: rgb(255, 249, 249);
  display: inline;
  margin-left: 25px;
  font-size: larger;
}

.cabecalho nav {
    float: right;
  }

.homelaranja {
    color: orangered;
}

h1 {
  font-family: montserrat;
  margin: 0;
  font-size: 40px;
}

main {
  background-image: url(team.png);
  background-size: cover;
  height: 300px!important;
  text-align: center;
  padding-top: 150px;
  color: aliceblue;
}

.cabecalho {
font-weight: 300;
padding-top: 20px;
background: #26282b;
height: 90px;
}

.news {
padding-top: 20px;
float: right;
margin-right: 60px;
}

#send {
  margin: 0;
  background-color: orangered;
  color: aliceblue;
  font-weight: bold;
  letter-spacing: 2px;
  border-color: rgb(255, 38, 0);
}

#principal {
font-family: montserrat;
word-break: initial;
display: block;
white-space:pre-line;
font-size: 18px;
}

#linha {
  background-color: orangered;
  width: 200px;
  height: 100%;
}